sentence-transformers>=4.1.0
numpy>=1.26.4
pymilvus>=2.5.6
pythoncom>=1.0.1
pywin32>=310
requests>=2.31.3
openai>=1.72.0
tenacity>=9.1.2
httpx>=0.28.1
langchain-community>=0.3.21
flask>=3.1.0
flask-cors>=6.0.1
uuid>=1.30